# dependencies
node_modules/

# next.js
.next/
out/

# production
build/

# local env files
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# system files
.DS_Store
Thumbs.db

.vercel
.env*
